<a href="https://colab.research.google.com/github/pammyyAnn/Advance-Data-Visualization-Lab3/blob/main/Advance_Data_Visualization_Lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
Add = 1 + 1
print(Add)

2

In [3]:
Subtract = 2- 1
print(Subtract)

1

In [4]:
Divide = 129/2
print(Divide)

64.5

In [5]:
Exponent = 2**4
print(Exponent)

16

In [6]:
Multiply = 2*3
print(Multiply)

6

In [7]:
Remainder = 20%3
print(Remainder)

2

In [10]:
a = 10
b = 10
if a ==b:
  print("a equals b")

a equals b

In [12]:
a = 10
b = 8 
if a < b:
  print("a is less than b")

In [14]:
a = 12
b = 12
if a > b:
  print("a is greater than b")
else:
    print("a is not greater than b")

a is not greater than b

In [15]:
a = 13
b = 12
if a > b:
  print("a is greater than b")
elif a == b:
  print("a is equal to b")
else:
  print("a is less than b")

a is greater than b

In [16]:
a = 10
b = 10
if a != b:
  print("a does not equal b")

In [18]:
(1 + 1) == (True + True)

True

In [19]:
num=3;
if num==3:
  print(num)

3

In [21]:
num = 3
if num > 10:
 print(num)

In [23]:
num = 3
if num % 3 == 0:
  print("Fizz")

Fizz

In [25]:
num = 10
if num % 5 == 0:
  print("Buzz")

Buzz

In [26]:
num = 4
print(num > 0 and num < 15)

True

In [27]:
if num > 0 and num < 15:
  print(num)

4

In [28]:
num = 4 
num > 0 or num > 15

True

In [30]:
num = 4 
print(num > 0 and num < 15)

True